<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <script src="https://kit.fontawesome.com/b5c921f6db.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class = "content">
          <span>
            <%= link_to "Bookers", root_path, class: "text-light" %>
          </span>
            <p id="notice"><%= notice %></p>
              <% if user_signed_in? %>
              
                <i class="fas fa-home text-light ">
                  <%= link_to "Home", user_path(@user), class: "text-light" %>
                </i>
                <i class="fas fa-users text-light">
                  <%= link_to "Users", users_path, class: "text-light" %>
                </i>
                <i class="fas fa-book-open text-light">
                  <%= link_to "Books", books_path, class: "text-light" %>
                </i>
                <i class="fas fa-sign-out-alt text-light">
                  <%= link_to "log out", destroy_user_session_path, class: "text-light", method: :delete %>
                </i>
              </div>
      </nav>
    </header>
    <% end %>
    <%= yield %>
  </body>
</html>
